<ion-header>
  <ion-toolbar>
    <ion-title>Climbing Starts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>The Climbing Starts!</h4>
  <br>
  <p>When the climbing in your hourney starts it is either the best part or the worst part. The climbing for me started when I was finally getting the hang of what was being taught. Creating that first website or that first app is always a rush of excitment becuase you did it. I always get excited when an app or web page runs correctly because it goes to show how much was retained from what you read or practiced. Learning to quickly is not always a good thing in my case.</p>
  <br>
  <ion-button color="primary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Previous Chapter</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Chapter</ion-button>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  
</ion-content>
