<ion-header>
  <ion-toolbar>
    <ion-title>The Down Hill Climb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>A week after my aunt passed away I talked to a friend that I have not spoke to in three years. She told me it was not what my aunt would have wanted me to do and I did not listen at first. A couple days later we spoke again and this time the way she worded it hit hard, the words she spoke really got me thinking. I have got an oppurtunity a lot of people do not get or give up on and I was not going to waste it. I spoke to my mentors and went fast through some late assignments I had and got all caught up in good time. Now that I am all caught up, staying ahead the due dates is my new goal and thats where my easy down hill climb started.</p>
  <br>
  <ion-button color="primary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Previous Chapter</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter6']">Next Chapter</ion-button>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Content</ion-button>
  
</ion-content>
