<ion-header>
  <ion-toolbar>
    <ion-title>A Journey is Coming?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>What is a journey?</h4>
  <br>
  <p>A journey is when you open your mind to a new chapter in life expecting good or bad. In my case this journey has been both good and bad. Learning new things is always a journey but programming can be very frustrating due to one mispelled word or misplaced punctuation. Every journey starts off being fun and it is most of the time up to you to keep that jounrney fun.</p>
  <br>
  <ion-button color="primary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter1']">Previous Chapter</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter</ion-button>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  
</ion-content>
