<ion-header>
  <ion-toolbar>
    <ion-title>A Steady Pace is Needed!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>In the previous chapter I stated "Learning to fast was not good for me" and I will tell you why. I was really starting to get the hang of things and moving a long pretty quick when starting off. By moving quickly I realized later on down the line, I didnt retain as much as I thought. Hitting this bump in the road I was not sure if I was ready to take on anymore and give up. I started not getting on school as much and my mentors were messaging and calling seeing what was going on but I never replied. Then my aunt went from healthy to on her death bed in a span of twelve hours. I did not go on school for about a week after that happened and it showed in my school work. Things did not stay that way for long and it is starting to show again.</p>
  <br> 
  <ion-button color="primary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Previous Chapter</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter5']">Next Chapter</ion-button>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  
</ion-content>
