<ion-header>
  <ion-toolbar>
    <ion-title>The Final Stretch is Here </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Now that I am staying ahead of the due dates the final stretch for school is here and it feels good. All that is left is a couple more courses and a final project and things will be great. I will enjoy my life doing a job in programming and have fun making things for people to use.</p>
  <br>
  <ion-button color="primary" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter5']">Previous Chapter</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/back-cover']">Back Cover</ion-button>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Content</ion-button>
  
</ion-content>
