<ion-header>
  <ion-toolbar>
    <ion-title>Where It Starts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>This is a story about my journey learning computer programming. I start learning computer programming in college with little to no knowledge of the subject other than a couple of bootcamps. I hope you enjoy my short journey on learning JavaScript, HTML, CSS, and more.</p>
  <br>
  <ion-button color="primary" expand="full" [routerDirection]="'root'" [routerLink]="['/cover']">Cover</ion-button>
  <ion-button color="success" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Chapter</ion-button>
  <ion-button color="warning" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Table of Contents</ion-button>
  
  

</ion-content>
